.container_slider {
    max-width: 750px;
    height: 570px;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
}

.container_slider.show-buttons .btn_slide {
    opacity: 0.6;
    
}

.container_slider.show-buttons .btn_slide:hover{
    opacity: 1;
}
  
.slide {
    width: 100%;
    height: 85%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

.slide h3 {
    text-align: center;
    padding-bottom: 10px;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.active_animation {
    opacity: 1;
}

.btn_slide {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--first-color);
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.btn_slide svg {
    font-size: 24px;
    color: var(--text-white);
}

.btn_slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.prev {
    top: 50%;
    left: 15px;
    transform: translateY(-60%);
}

.next {
    top: 50%;
    right: 15px;
    transform: translateY(-60%);
}

.container_dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: var(--first-color);
    box-shadow: 0px 0px 2px var(--first-color-dark);
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
  }
  
.active_dot {
    transform: scale(1.25);
    opacity: 1 !important;
    background-color:  var(--first-color-dark);
    box-shadow: 0px 0px 4px var(--first-color);
}